/*
1st

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#app {
    flex: 1 0 auto;
}
*/

/*
2nd

html, body {
    height: 100%;
    margin: 0;
  }
#app {
    min-height: 100%;

    // Equal to height of footer
    // But also accounting for potential margin-bottom of last child
    margin-bottom: -50px;
}
.page-footer{
    height: 50px;
}
*/

/*
3rd
html, body {
    height: 100%;
    margin: 0;
}
#app {
    min-height: 100%;
}
.main {
    padding: 20px;
    padding-bottom: 50px;
}
.page-footer {
    height: 50px;
    margin-top: -50px;
}
*/

/*
4th

#app {
    min-height: calc(100vh - 182px);
}
.page-footer {
    height: 182px;
}
*/

html {
  height: 100%;
}
body {
    background: #212121; /* indigo darken-4 */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#app-name {
    padding-left: 0.5rem;
}
nav {
    background-color: grey;
}
.icon-block {
    padding: 0 10px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.sidenav {
    width: 200px;
}
.pagination li.active {
    background-color: rgba(0,0,0,0);
}
header {
    padding-left: 40px;
    flex: 1 0 auto;
}
main {
    padding-left: 65px;
}
.page-footer {
    padding-left: 65px;
    flex-shrink: 0;
}
#app {
    flex: 1 0 auto;
}
#nav-mobile {
    background: #424242; /* indigo darken-3 */
}
@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0px;
    }
}
.text-navbar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#nav-mobile-button {
    transform: translateX(0px);
}
#logo-container {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: baseline;
}
#additional-links {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    align-items: baseline;
}
.dropdown-content {
    background: #424242; /* indigo darken-3 */
}
.dropdown-content li > a, .dropdown-content li > span {
    color: white;
}
.justify-text {
    text-align: justify;
}
.justify-text-header {
    text-align: justify;
    text-align-last: right;
}
.additional-link {
    margin-left: 1.5rem;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #424242; /* indigo darken-3 */
}
::-webkit-scrollbar-thumb {
    background: #616161; /* indigo darken-2 */
}
::-webkit-scrollbar-thumb:hover {
    background: #757575; /* indigo darken-1 */
}
.hidethread-icons, .hidemessage-icons {
    font-size: 24px;
    cursor: pointer;
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #616161;
  -webkit-box-shadow: 0 1px 0 0 #616161;
          box-shadow: 0 1px 0 0 #616161;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #616161;
}
.btn {
    background-color: #424242;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: grey;
}
a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover, a:focus {
    background-size: 100% 2px;
}
.content {
    display: inline;
}
#board-welcome,
#board-threads {
    margin-bottom: 1.5rem;
}
#thread-creation-button {
}
#message-creation-button {
    margin-bottom: 1.5rem;
}
#shadow {
    display: none;
    width: 90%;
}
#board-threads {
    margin: 0 1.5rem;
}
.message {
    margin-bottom: 1.5rem;
}
.thread {
    margin-bottom: 1.5rem;
}
.thread-topic {
    margin-bottom: 1.5rem;
}
.thread-files {
    margin: 1.5rem;
}
.thread-file {
    width: 100%;
    height: 100%;
}
.message-files {
    margin: 1.5rem;
}
.message-file {
    width: 100%;
    height: 100%;
}
.thread-file-description {
    font-size: 2vmin;
}
.message-file-description {
    font-size: 2vmin;
}
.standart-file {
    cursor: zoom-in;
}
.expanded-file {
    cursor: zoom-out;
}
.thread-messages {
    margin: 0 1.5rem;
    width: 90%;
}
.thread-head, .thread-body, .message-head, .message-body, .message-documents, .thread-documents {
    background: #424242;
    border-color: #616161;
    border-style: solid;
    border-width: 1px;
}
.message-text {
    margin-bottom: 20px;
}
#back-button {
    text-align: left;
    margin: 0.75rem 1.5rem 1.5rem 1.5rem;
}
.pagination li a {
    color: #fff;
}
.pagination li.active a {
    color: #444;
}
.g-recaptcha {
    display: inline-block;
}
ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}
ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}
ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}
li ol > li {
    margin: 0;
}
li ol > li:before {
    content: counters(item, ".") " ";
}

.card {
    background-color: #212121;
}
#to-top-button {
    display: none; /* Hidden by default */
    opacity: 0.8;
}

#to-top-button:hover {
    opacity: 1;
}
